.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, rgb(5, 59, 80), rgb(23, 107, 135));
  position: relative;
  z-index: -1;

  .wrapper {
    max-width: 966px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      h2 {
        font-size: 30px;
        letter-spacing: 10px;
        color: rgb(23, 107, 135);
      }

      h1 {
        font-size: 80px;
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid lightgray;
          border-radius: 10px;
          margin-right: 20px;
          background-color: transparent;
          color: lightgrey;
          font-weight: 300;
          cursor: pointer;
        }

        .contact-btn {
          background-color: lightgrey;
          color: black;
        }
      }
    }
  }

  .imageContainer {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;

    img {
      mix-blend-mode: luminosity;
      opacity: 80%;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -50px;
    white-space: nowrap;
    color: rgba(211, 211, 211, 0.08);
    width: 50%;
    font-weight: bold;
  }
}
