.contact {
  height: 100%;
  max-width: 966px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 75px;
    }

    .item {
      h2 {
        font-size: 22px;
        font-weight: 200;
      }
    }
  }

  .formContainer {
    flex: 1;
  }
}
