.navbar {
  height: 100px;

  .wrapper {
    max-width: 966px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
      font-size: 22px;
    }

    .socials {
      display: flex;
      gap: 18px;
    }
  }
}
